.newaccountbtn {
    border: none;
    background-color: #30a0c7;
    color: white;
    border: 1px solid white;
    margin-top: 7px;
    margin-bottom: 40px;
    width: 276px;
    height: 40px;
    font-family: 'Baloo Da 2', cursive;
    outline: none;
}
.newaccountbtn:hover {
    border: none;
    background-color: white;
    color: #30a0c7;
    border: 1px solid #30a0c7 ;
    margin-top: 7px;
    font-family: 'Baloo Da 2', cursive;
    outline: none;
}